<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>

<div id="hero-area">
    <div class="hero-inner">        
    <router-outlet></router-outlet>
    
<div style="height: 500px;">

    </div>
    </div>
</div>

<app-footer></app-footer>
