<div class="team">
        <div class="container">                    
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">  
                    <h2><span class="ion-minus"></span>Our Team<span class="ion-minus"></span></h2>
                    <h3>Project on the subject of RAM0123 Veebiprogrammeerimine II </h3>
                </div> 
            </div>                            
            <div class="row-fluid">                    
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">                           
                               <img class="img-rounded" alt="team-photo" src="https://images.pexels.com/photos/295821/pexels-photo-295821.jpeg?h=350&auto=compress&cs=tinysrgb" width="100%"> 
                               <div class="team-member">                            
                               <h4>Julia Maykova</h4>                               
                               <h5>Developer</h5>                            
                               </div>
                                                                            
                 </div> <!--col-lg-4 -->
                        
                 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                           
                               <img class="img-rounded" alt="team-photo" src="https://images.pexels.com/photos/428333/pexels-photo-428333.jpeg?h=350&auto=compress&cs=tinysrgb" width="100%">
                               
                               <div class="team-member">
                            
                               <h4>Ivan Panas</h4>
                               
                               <h5>Developer</h5>
                            
                               </div>
                                                                            
                 </div> <!--col-lg-4 -->
                        
                 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                           
                    <img class="img-rounded" alt="team-photo" src="https://images.pexels.com/photos/428333/pexels-photo-428333.jpeg?h=350&auto=compress&cs=tinysrgb" width="100%">
                               
                               <div class="team-member">
                            
                               <h4>Vladimir Andrianov</h4>
                               
                               <h5>Developer</h5>
                            
                               </div>
                                                                            
                    </div> <!-- col-lg-4 -->
                       
            </div>  <!-- row text-center -->
                    
        </div>  
        <div class="row"></div>
    </div>