<div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title-big">Flight details</h1>
                <h2 class="subtitle-big">check your flight delays and cancellations</h2>
            </div>
            
            <div class="col-md-12">
                <form (ngSubmit)="onSubmit()" #mainForm="ngForm" novalidate>     
                    <div class="form-border form-group  col-md-offset-1 col-md-5 col-md-offset-2 inp">
                        
                        <span class="col-md-1"></span>

                        <input list="origList" class="form-control" placeholder="From where?" (change)="originChanged($event.target.value)" 
                        (input)="originSearch($event.target.value)" [(ngModel)]="originAirport" 
                        name="origin" minlength="3" maxlength="3" required>
                            <datalist id="origList">
                                <option *ngFor="let origin of origins" [value]="origin.AirportCode">
                                    {{origin.AirportCode}}
                                </option>
                            </datalist>

                        <span class="col-md-1"></span>

                        <input list="destList" class="form-control" placeholder="To where?" [(ngModel)]="destinationAirport" name="destination" 
                        minlength="3" maxlength="3" required>
                            <datalist id="destList">
                                <option *ngFor="let dest of destinations" [value]="dest.AirportCode">
                                    {{dest.AirportCode}}
                                </option>
                            </datalist>

                        <span class="col-md-1"></span>

                    </div>
                    <div class="form-border form-group  col-md-offset-1 col-md-5 col-md-offset-2 inp">
                        <span class="col-md-1"></span>
                        <input (change)="dateFromChanged($event.target.value)" type="date" class="form-control" 
                        id="dateFrom" ngModel="dateFrom" name="dateFrom" [max]="maxDateString" [min]="currDateString"
                        #dateFrom="ngModel" [required]="true">                        
                        <span class="col-md-1"></span>
                        <input (change)="dateUntilChanged($event.target.value)" type="date" class="form-control" 
                        id="dateUntil" ngModel="dateUntil" name="dateUntil" [max]="maxDateString" [min]="currDateString"
                        #dateUntil="ngModel" required>                       
                        <span class="col-md-1"></span>
                        <div [hidden]="dateFrom.valid || dateFrom.pristine"
                            class="alert alert-danger">
                        Date From is required!
                        </div>
                        <div [hidden]="dateUntil.valid || dateUntil.pristine"
                        class="alert alert-danger">
                    Date Until is required!
                    </div>
                    </div>
                    <div class="col-md-offset-4 col-md-2 col-md-offset-6">
                        <button type="submit" value="Submit" [disabled]="!mainForm.form.valid" class="btn btn-border btn-lg btn-lglg">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>