.offer_reviews
{
	position: absolute;
	top: 0;
	right: 0;
}
.offer_reviews_content
{
	display: inline-block;
	vertical-align: middle;
	margin-right: 7px;
}
.offer_reviews_title
{
	font-size: 12px;
	font-weight: 700;
	color: #2d2c2c;
	text-transform: uppercase;
}
.offer_reviews_subtitle
{
	font-size: 12px;
	font-weight: 600;
	color: #929191;
	margin-top: 1px;
}
.offer_reviews_rating
{
	display: inline-block;
	width: 65px;
	height: 57px;
	font-size: 15px;
	font-weight: 700;
	color: #FFFFFF;
	line-height: 57px;
	background: #fa9e1b;
	vertical-align: middle;
	border-radius: 50%;
	-webkit-transform: translateY(-4px);
	-moz-transform: translateY(-4px);
	-ms-transform: translateY(-4px);
	-o-transform: translateY(-4px);
	transform: translateY(-4px);
}

.my-header h2 { 
	display: inline;
  }

.text-big_style
{
	display: inline-block;
	font-size: 36px;
	font-weight: 700;
	color: #f18d00;
	line-height: 25px;
}
.text-big_style span
{
	font-size: 16px;
	font-weight: 400;
	color: #995900;
	margin-left: 12px;
}
.medium-text
{
	font-size: 14px;
	font-weight: 400;
	color: #929191;
	margin-top: 16px;
	margin-bottom: 0px;
}
.small-text
{
	font-size: 16px;
	color: #020202;
}
.small-text span
{	font-size: 20px;
	font-weight: 400;
	color: #000000;
	margin-left: 12px;
	
}
.offers_grid
{
	width: 100%;
	margin-top: -200px;
	margin-bottom: -200px;
}
.offers_item
{
	width: 100%;
	/* margin-bottom: 46px; */
	margin-bottom: -500px;
}
.offers_item:last-child
{
	margin-bottom: 0px;
}
.border{
	display: flex;
	  width: 80%;
	height: 50%;
	padding: 10px 12px;
	line-height: 1.428571429;
	background-color: rgba(255, 255, 255, 0.822);;
	border: 5px solid #3498DB;
	border-radius: 10px;
  }

  .borderAccordion{
	  width: 100%;
	padding: 10px 12px;
	background-color: rgba(255, 255, 255, 0.822);
  }
  .title-big-f {
	margin-top: -100px;
	text-align: center;
	font-size: 60px;
	color: #05111a;
  }
  .subtitle-big-f {
	text-align: center;
	font-weight: 100;
	padding-bottom: 30px;
	position: relative;
	color: #05111a;
  }
  .accordion {
	background-color: rgba(52, 152, 219, 0.705);
	color: rgb(255, 254, 254);
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	font-size: 18px;
	transition: 0.4s;
	border: 1px solid rgb(255, 255, 255);
  }
  
  /* .active, .accordion:hover {
	background-color: rgb(134, 130, 130);
  } */
  /* .accordion:after {
	content: '\002B';
	color: #777;
	font-weight: bold;
	float: right;
	margin-left: 5px;
  } */
  
  /* .active:after {
	content: "\2212";
  } */
  
  /* .panel {
	padding: 0 18px;
	background-color: white;
	display: none;
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.2s ease-out;
  } */
  hr.new5 {
	border: 2px solid rgb(15, 138, 219);
	border-radius: 5px;
  }

  @media only screen and (max-width: 695px)
{
	p{font-size: 13px;}
	h1{font-size: 28px;}
		
	.text-big_style
	{
		font-size: 22px;
	}
	.text-big_style span
	{
		font-size: 12px;
		margin-left: 7px;
	}
	.offer_reviews_rating
	{
		width: 56px;
	    height: 47px;
	    font-size: 15px;
	    line-height: 47px;
	}
	.offer_reviews_title
	{
		font-size: 11px;
	}
	.offer_reviews_subtitle
	{
		font-size: 11px;
	}
	.offers_text
	{
		font-size: 13px;
	}
	.small-text
{
	font-size: 14px;
	color: #020202;
}
.small-text span
{	font-size: 16px;
	font-weight: 400;
	color: #000000;
	margin-left: 12px;
}
	
}

/* Loader section */

.loader {
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 20px auto;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-perspective: 780px;
	perspective: 780px;
}
.loader-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
.loader-inner.box1{
	left: 0%;
	top: 0%;
	animation: cssload-rotate-one 1.15s linear infinite;
	-o-animation: cssload-rotate-one 1.15s linear infinite;
	-ms-animation: cssload-rotate-one 1.15s linear infinite;
	-webkit-animation: cssload-rotate-one 1.15s linear infinite;
	-moz-animation: cssload-rotate-one 1.15s linear infinite;
	border-bottom: 3px solid #5C5EDC;
}
.loader-inner.box2{
	right: 0%;
	top: 0%;
	animation: cssload-rotate-two 1.15s linear infinite;
	-o-animation: cssload-rotate-two 1.15s linear infinite;
	-ms-animation: cssload-rotate-two 1.15s linear infinite;
	-webkit-animation: cssload-rotate-two 1.15s linear infinite;
	-moz-animation: cssload-rotate-two 1.15s linear infinite;
	border-right: 3px solid rgba(76, 70, 101, 0.99);
}
.loader-inner.box3{
	right: 0%;
	bottom: 0%;
	animation: cssload-rotate-three 1.15s linear infinite;
	-o-animation: cssload-rotate-three 1.15s linear infinite;
	-ms-animation: cssload-rotate-three 1.15s linear infinite;
	-webkit-animation: cssload-rotate-three 1.15s linear infinite;
	-moz-animation: cssload-rotate-three 1.15s linear infinite;
	border-top: 3px solid #e9908a;
}
@keyframes cssload-rotate-one {
	0% {
			-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
			transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
			-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
			transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}
@-webkit-keyframes cssload-rotate-one {
	0% {
			-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
			-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}
@keyframes cssload-rotate-two {
	0% {
			-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
			transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
			-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
			transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}
@-webkit-keyframes cssload-rotate-two {
	0% {
			-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
			-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}
@keyframes cssload-rotate-three {
	0% {
			-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
			transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
			-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
			transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}
@-webkit-keyframes cssload-rotate-three {
	0% {
			-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
			-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}