
  <div class="container">
			<div class="row">  
          <div class="col-md-12">
              <h1 class="title-big-f">Route {{origin.toUpperCase()}} - {{dest.toUpperCase()}}</h1> 
          </div>
          <div [hidden]="!loading" class="col-md-12">
              <div class="loader">
                  <div class="loader-inner box1"></div>
                  <div class="loader-inner box2"></div>
                  <div class="loader-inner box3"></div>
              </div>
              <div style="height: 200px"></div>
          </div>
          <div [hidden]="!flightsNotFound" class="col-md-12">
              <h2 style="color:darkgrey;text-align:center;">No flights for this route...</h2>               
          </div>
        <div [hidden]="flightsNotFound || loading" class="col-md-12">
    
    <!-- Best and Worst flights-->      

  <div  class="offers_grid">
    <div class="offers_item">
      <div class="row">
        <div class="col-lg-1 temp_col"></div>
      
        <div class="col-lg-9 border">
          <div class="offers_content">
            <div class="text-big_style">BEST FLIGHT<span>&nbsp;&nbsp;&nbsp;&nbsp;Flight number: {{bestFlight?.FlightNumber}}</span></div>
            <div class="small-text">
                <ul>
                    <li>Avg delay<span>{{bestFlight?.Stats.AvgDelay}} min</span></li>
                    <li>Min delay<span>{{bestFlight?.Stats.MinDelay}} min</span></li>
                    <li>Max delay<span>{{bestFlight?.Stats.MaxDelay}} min</span></li>
                    <li>Cancells<span>{{bestFlight?.Stats.CancelledCount}}, {{bestFlight?.Stats.CancelledPercent}}%</span></li>
                    <li>Diverts<span>{{bestFlight?.Stats.DivertedCount}}, {{bestFlight?.Stats.DivertedPercent}}%</span></li>
                    <li>Delays<span>{{bestFlight?.Stats.DelayedCount}}, {{bestFlight?.Stats.DelayedPercent}}%</span></li>
                    <li>Total flights<span>{{bestFlight?.Stats.TotalCount}}</span></li>
                 </ul>
            </div>
        
            <div class="offer_reviews">
                <div class="offer_reviews_content">
                    <div class="offer_reviews_subtitle">Airline</div>
                  </div>
                  <div class="offer_reviews_rating text-center">
                      {{bestFlight?.Airline}}
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div> 

    <div class="offers_item">
        <div class="row">
          <div class="col-lg-1 temp_col"></div>
        
          <div class="col-lg-9 border">
            <div class="offers_content">
              <div class="text-big_style">WORST FLIGHT<span>&nbsp;&nbsp;&nbsp;&nbsp;Flight number: {{worstFlight?.FlightNumber}}</span></div>
              <div class="small-text">
                  <ul>
                      <li>Avg delay<span>{{worstFlight?.Stats.AvgDelay}} min</span></li>
                      <li>Min delay<span>{{worstFlight?.Stats.MinDelay}} min</span></li>
                      <li>Max delay<span>{{worstFlight?.Stats.MaxDelay}} min</span></li>
                      <li>Cancells<span>{{worstFlight?.Stats.CancelledCount}}, {{worstFlight?.Stats.CancelledPercent}}%</span></li>
                      <li>Diverts<span>{{worstFlight?.Stats.DivertedCount}}, {{worstFlight?.Stats.DivertedPercent}}%</span></li>
                      <li>Delays<span>{{worstFlight?.Stats.DelayedCount}}, {{worstFlight?.Stats.DelayedPercent}}%</span></li>
                      <li>Total flights<span>{{worstFlight?.Stats.TotalCount}}</span></li>
                   </ul>
              </div>
          
              <div class="offer_reviews">
                  <div class="offer_reviews_content">
                      <div class="offer_reviews_subtitle">Airline</div>
                    </div>
                    <div class="offer_reviews_rating text-center">
                        {{worstFlight?.Airline}}
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
  </div>
</div>

   <!-- List of flights -->
  <div [hidden]="flightsNotFound || loading" class="col-md-12">
      <hr class="new5">
  <h2  class="subtitle-big-f">Following flights were found on this route.</h2>

 
  <!-- Accordion-->
  <div class="panel-group" id="accordion">

    <div class="panel-default" *ngFor="let flight of flightsList">
      <button class="accordion text-big_style" data-toggle="collapse" data-parent="#accordion" [attr.href]="['#collapse' + flightsList.indexOf(flight)]">
        {{flight.Airline}} {{flight.FlightNumber}}</button>
    <div [attr.id]="['collapse' + flightsList.indexOf(flight)]" class="panel-collapse collapse">
      <div>
          <div class="col-lg-9 borderAccordion">
              <div class="offers_content">
                <div class="text-big_style">FLIGHT<span>:&nbsp;&nbsp;&nbsp;&nbsp;Flight number: {{flight.FlightNumber}}</span></div>
                <div class="small-text">
                    <ul>                    
                    <li>Avg delay<span>{{flight.Stats.AvgDelay}} min</span></li>
                    <li>Min delay<span>{{flight.Stats.MinDelay}} min</span></li>
                    <li>Max delay<span>{{flight.Stats.MaxDelay}} min</span></li>
                    <li>Cancells<span>{{flight.Stats.CancelledCount}}, {{flight.Stats.CancelledPercent}}%</span></li>
                    <li>Diverts<span>{{flight.Stats.DivertedCount}}, {{flight.Stats.DivertedPercent}}%</span></li>
                    <li>Delays<span>{{flight.Stats.DelayedCount}}, {{flight.Stats.DelayedPercent}}%</span></li>
                    <li>Total flights<span>{{flight.Stats.TotalCount}}</span></li>
                     </ul>
                </div>
            
                <div class="offer_reviews">
                  <div class="offer_reviews_content">
                      <div class="offer_reviews_content">
                          <div class="offer_reviews_subtitle">Airline</div>
                        </div>
                        <div class="offer_reviews_rating text-center">
                            {{flight.Airline}}
                        </div>
                  </div>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>


</div>


</div>    
</div>
</div>