<div class="logo-menu">
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-default">      
        <div class="container">
            <a class="navbar-brand" routerLink="home">{{appName}}</a>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li><a routerLink="/home">Home</a></li>
                    <li><a routerLink="/about">About</a></li>
                    <li><a routerLink="/contact">Contact us</a></li>
                </ul>
                <!-- <ul class="nav navbar-nav pull-right">
                    <li><a routerLink="/register">Sign up</a></li>
                    <li><a routerLink="/login">Sign in</a></li>
                </ul> -->
            </div>
        </div>
    </nav>
  </div>