<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">            
            <div class="account-wall">
                <h1 class="text-center login-title">Sign in to Flights Analyzer</h1>
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                    alt="">
                <form class="form-signin">

                 <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email" required autofocus>
                 </div>
                 
                 <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" required>
                 </div>
                
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Sign in</button>
                <label class="checkbox pull-left">
                    <input type="checkbox" value="remember-me">
                    Remember me
                </label>
                <a routerLink="/contact" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                </form>
            </div>
            <a routerLink="/register" class="text-center new-account">Create an account </a>
        </div>
    </div>
</div>