<div class="container">
    <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">Please sign up for Flights Analyzer <small>It's free!</small></h1>
         </div>
         <div class="panel-body">
          <form role="form">
            <div class="row-fluid">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name">
                </div>
              </div>
            </div>

            <div class="row-fluid">
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <div class="form-group">
                    <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address">
                  </div>
                </div>
            </div>

            <div class="row-fluid">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password">
                </div>
              </div>
            </div>
            <div class="row-fluid">
                <div class="col-xs-6 col-sm-6 col-md-6 col-xs-offset-3 col-sm-offset-3 col-md-offset-3">
                  <div class="form-group">
                      <input type="submit" value="Register" class="btn btn-lg btn-primary btn-block">
                  </div>
                </div>
            </div>
           
          
          </form>
        </div>
      </div>
    </div>
  </div>
</div>