@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
}
a {
  color: #e74c3c;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
a:hover {
  color: #e76c3c;
}
.row {
  padding: 35px 0px;
}
.btn {
  border: none;

}
.btn-border {
  background: transparent;
  border: 2px solid #3498DB;
  color: rgb(0, 0, 0);
}
.form-border{
  display: flex;
    width: 80%;
  height: 70%;
  padding: 6px 12px;
  line-height: 1.428571429;
  color: #3498DB;;
  background-color: #3498DB;;
  /* border: 1px solid rgb(148, 148, 148); */
  border: 1px solid #3498DB;
  border-radius: 6px;
}
.btn-lglg {
  width: 235px;
  margin-top: 20px;
  /* margin-right: 280px; */
  margin-left: 45px; 
 }
.btn-border:hover {
  background: #fff;
  color: #444;
}
.btn-default {
  background: #3498db;
  color: #fff;
}
.btn-default:hover {

  background: #2980b9;
  color: #fff;
}
.title-big {
  text-align: center;
  font-size: 60px;
  color: #05111a;
}


.subtitle-big {
  text-align: center;
  font-weight: 100;
  padding-bottom: 30px;
  position: relative;
  color: #969ca0;
}
.subtitle-medium {
    text-align: left;
    font-weight: 100;
    padding-bottom: 10px;
    position: relative;
    color: #969ca0;
}
.title-small {
  font-size: 45px;
}
.subtitle-small {
  font-weight: 100;
  padding-bottom: 30px;
  position: relative;
  color: #bdc3c7;
  font-size: 20px;
}
.logo-menu .container {
  margin-top: 20px;
  margin-bottom: 20px;
}
.navbar {
  margin-bottom: 0;
}
.navbar li {
  color: #d1d1d1;
}
.navbar-default {
  border: none;
  border-radius: 0;
  background: #3498DB;
}
.navbar-default .navbar-nav > li {
  margin: 0 15px;
  border-radius: 4px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background: none;
  padding: 8px 15px;
}
.navbar-default .navbar-nav li a,
.navbar-default .navbar-nav li a:hover {
  color: #fff;
  padding: 8px 15px;
}
.navbar-default .navbar-nav > .active,
.navbar-default .navbar-nav li:hover {
  color: #fff;
  background: rgba(41, 40, 40, 0.42);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.navbar-default .navbar-brand {
  font-size: 25px;
  color: #fff;
  font-weight: 100;
  padding: 8px 15px;
}
.navbar-default .navbar-brand:hover {
  color: #eee;
}
.navbar-default .navbar-toggle .icon-bar {
  background: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: #333;
}
#hero-area {
  background: url(../img/backgrounds/plane.jpg) fixed;
  background-size: cover;
  color: #fff;
}
#hero-area .btn {
  margin-right: 20px;
}
#hero-area img {
  max-width: 100%;
}
#hero-area p {
  padding: 50px 0;
}
#hero-area .row {
  /* float: left; */
  padding: 260px 0;

}
.hero-inner {
  position: relative;
  color: #fff;
}
.hero-inner:before {
  /* background-color: rgba(52, 152, 219, 0.5); */
  background-color: rgba(252, 253, 253, 0.767);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  content: "";
  display: block;
}
/* .sign-up-form input,
.sign-in-form input,
.sign-up-form input[type="password"],
.sign-in-form input[type="password"],
.sign-up-form input[type="text"],
.sign-in-form input[type="text"],
.sign-up-form input,
.sign-in-form input,
.sign-up-form input[type="email"],
.sign-in-form input[type="email"] {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  height: 45px;
  margin-bottom: 30px;
} */
/* #sign-in-area,
#sign-up-area {
background: url(../img/backgrounds/plane.jpg) fixed;
} */
/* #sign-in-area .title-big,
#sign-up-area .title-big {
  color: #fff;
} */
#key-features i {
  color: #333;
  margin-bottom: 15px;
}
#key-features h3 {
  margin-top: 0;
  font-size: 28px;
  color: #3498DB;
}
#main-features #feature-list-item-1,
#main-features #feature-list-item-3 {
  background: #ecf0f1;
}
#main-features .title-small {
  color: #3498DB;
}
#main-features .subtitle-small {
  line-height: 30px;
}
#main-features .btn-default {
  margin-top: 20px;
}

#footer {
    /* background: #3498DB; */
    /* position: relative; */
    background: #2980b9;
    color: #fff;
    /* left: 0; */
    /* bottom: 0; */
    /* padding: 20px; */
    /* width: 100%;  */
}
#footer a {
  color: #fff;
}
#footer ul {
        list-style: none;
        padding: 0;
    }
